.sidebar{
	position: absolute;
	background-color: var(--background);
	top: 96px;
	bottom: 0;
	left: -340px;
	max-width: 340px;
	width: 100%;
	border-block-start: 1px solid var(--banner-background);
	overflow-y: overlay;
	z-index: 4;
	visibility: hidden;
	transition: var(--transition-long);
  }