.sidebar{
    position: static;
    visibility: visible;
    border-block-start: 0;
    height: calc(100vh - 104px);
  }
.movie-list{
	color: var(--on-surface-variant);
	cursor: pointer;

	p{
		font-size: 18px;
		padding-inline: 20px;
	}
}
.movie-list:hover{
	color: var(--on-surface);
}